{erl_opts, [
    debug_info
]}.

{deps, [
    {jiffy, "1.0.3"}
]}.

{shell, [
    {apps, [deeperl, inets, ssl]}
]}.

{plugins, [
    rebar3_hex
]}.

{alias, [
    {check, [
        dialyzer,
        edoc,
        % {eunit, "-c"},
        {ct, "-c"},
        {cover, "-v --min_coverage=80"}]}
]}.

{profiles, [
    {test, [
        {deps, [meck]}
    ]}
]}.
